@use "../vars" as vars;

#app {
  width: 100vw;
  height: 100vh;
}

.map-container {
  position: relative;
  z-index: 10;
}

.controls-container {
  position: absolute;
  z-index: 20;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  font-family: vars.$font-family-native;

  pointer-events: none;
}

/*
 * Individual controls and info
 */

.show-time-container {
  --options-time__margin: 18px;
  position: absolute;

  top: 0;
  width: calc(100% - 2 * var(--options-time__margin));
  margin: var(--options-time__margin);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .show-time {
    padding: 6px 10px;
    background-color: transparentize(vars.$color-background-dark, 0.1);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      font-size: 4.6rem;
      font-weight: bold;
      color: vars.$colour-white;
    }

    .colon {
      margin: 0 3px 2px;
    }
  }
}


.options-bar-container {
  --options-bar__margin: 18px;

  position: absolute;

  bottom: 0;
  width: calc(100% - 2 * var(--options-bar__margin));
  margin: var(--options-bar__margin);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .option-description {
    padding-right: 6px;
  }

  .options-bar {
    pointer-events: auto;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: transparentize(vars.$colour-white, 0.08);
    border-radius: 4px;
    padding: 10px 14px;
  }
}

.options-vertical-spacer {
  display: inline-block;
  width: 2px;
  height:  18px;
  margin: 2px 12px;

  background-color: transparentize(vars.$color-background-dark, 0.5);
}

#show-stations-demo-circle {
  width: 10px;
  height: 10px;
  background-color: #ee33ad;
  border-radius: 50%;
  display: inline-block;

  margin: 0 6px 0 2px;
}

#show-arrivals-demo-circle {
  width: 10px;
  height: 10px;
  background-color: #3C99F0;
  border-radius: 50%;
  display: inline-block;

  margin: 0 6px 0 2px;
}
