@use "../vars" as vars;

#app {
  width: 100vw;
  height: 100vh;

  font-family: vars.$font-family-native;

  &.not-ready {
    .map-container, .controls-container {
      visibility: hidden;
    }
  }
}

.p5js-canvas {
  cursor: crosshair;
}

/*
 * Loading page
 */
.loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .loading-heading {
    font-weight: bold;
    font-size: 3.4rem;
    color: lighten(vars.$colour-black, 2%);
    margin-bottom: 8px;
  }

  .loading-details {
    font-weight: lighter;
    font-size: 1.6rem;
    color: lighten(vars.$colour-black, 25%);
  }
}

/*
 * Map container
 */
.map-container {
  position: relative;
  z-index: 10;
}

/*
 * Visualization control container
 */
.controls-container {
  position: absolute;
  z-index: 20;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  pointer-events: none;
}

/*
 * Individual controls and info
 */

.show-datetime-root {
  --options-time__margin: 18px;
  position: absolute;

  top: 0;
  width: calc(100% - 2 * var(--options-time__margin));
  margin: 0 var(--options-time__margin) var(--options-time__margin) var(--options-time__margin);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .show-datetime-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*
 * Selected day
 */
.show-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 8px 12px;
  background-color: vars.$colour-white;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  pointer-events: auto;

  .previous-day-container, .next-day-container {
    padding: 6px;
    margin: 2px 12px;

    button {
      cursor: pointer;
    }
  }

  .date {
    font-size: 2.6rem;
    font-weight: normal;
    color: vars.$colour-black;
    user-select: none;
  }
}

/*
 * Current simulated time
 */
$pause-transition-time: .125s;

.show-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  pointer-events: auto;

  padding: 8px 12px 14px 12px;
  background-color: vars.$colour-white;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .reset-time-container, .fast-forward-time-container {
    padding: 4px;
    margin: 0 8px;
  }

  .current-time-container {
    position: relative;
    cursor: pointer;

    padding: 4px 10px;
    margin: 0 8px;

    .hour, .colon, .minute {
      font-size: 4.6rem;
      font-weight: bold;
      color: vars.$colour-black;
    }

    .colon {
      margin: 0 3px 2px;
    }

    &.paused {
      .hour, .colon, .minute {
        color: lighten(vars.$colour-black, 40%);
      }

      .time-paused-indicator {
        box-shadow: 0 1px 4px 1px transparentize(vars.$colour-black, 0.25);
        background-color: transparentize(darken(vars.$colour-white, 26%), 0.5);
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

/*
 * Time pausing
 */
.time-paused-indicator-container {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  .time-paused-indicator {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0 1px 4px 1px transparent;
    background-color: transparent;
    transform: scale(0.7);
    opacity: 0;

    transition: $pause-transition-time ease;

    border-radius: 8px;

    svg {
      width: 48px;
      height: 48px;

      rect {
        stroke: white;
      }
    }
  }
}


/*
 * Options bar
 */
.options-bar-container {
  --options-bar__margin: 18px;

  position: absolute;

  bottom: 0;
  width: calc(100% - 2 * var(--options-bar__margin));
  margin: var(--options-bar__margin);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .option-description {
    padding-right: 6px;
  }

  .options-bar {
    pointer-events: auto;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: transparentize(vars.$colour-white, 0.08);
    border-radius: 4px;
    padding: 10px 14px;
  }
}

.options-vertical-spacer {
  display: inline-block;
  width: 2px;
  height:  18px;
  margin: 2px 12px;

  background-color: transparentize(vars.$colour-background-dark, 0.5);
}

/*
 * Options bar: show stations circle
 */
#show-stations-demo-circle {
  width: 10px;
  height: 10px;
  background-color: #ee33ad;
  border-radius: 50%;
  display: inline-block;

  margin: 0 6px 0 2px;
}

/*
 * Options bar: show arrivals circle
 */
#show-arrivals-demo-circle {
  width: 10px;
  height: 10px;
  background-color: #3C99F0;
  border-radius: 50%;
  display: inline-block;

  margin: 0 6px 0 2px;
}
